<h1>Consulta los Bares que hay en la app</h1>
<p>En esta vista podras econtrar tu bar ideal ordenado por el precio del cover</p>
<p>
 Vuelve Pronto
</p>

<table class="table table-striped table-hover">
  <tbody>
  <tr>
    <th>  <button ng-click="sortBy('nombre')">nombre</button></th>
    <th> direccion</th>
    <th>telefono</th>
    <th>  <button ng-click="sortBy('cover')">cover</button></th>



  </tr>
  <tr ng-repeat="todo in listado | orderBy:propertyName:reverse">
    <td>{{todo.nombre}}</td>
    <td>{{todo.direccion}}</td>
    <td>{{todo.telefono}}</td>
    <td>{{todo.cover}}</td>
  </tr>
  </tbody>
</table>
