<div class="SBpage">
  <h1>Ingresar Bar</h1>
  <p>¡Bienvenido! has parte de la comunidad Waya</p>
  <p>Registra tu bar aquí es muy fácil</p>

  <div class="inner SBcontact">
    <div class="contact-form">
      <form>
        <div class="col-xs-12 wow animated slideInLeft" data-wow-delay=".5s">
          <input type="text" required="required" class="SBform SBinput" placeholder="Nombre" ng-model="name" />
        </div>
        <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
          <input type="text" required="required" class="SBform SBinput" placeholder="Direccion" ng-model="direccion"/>
          <input type="text" required="required" class="SBform SBinput" placeholder="URL Logo" ng-model="logo"/>
          <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
            <input type="number" step="any" required="required" class="SBform SBinput" placeholder="Cordenada latitud" ng-model="latitud" />
          </div>
          <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
            <input type="number" step="any" required="required" class="SBform SBinput" placeholder="Cordenada longitud" ng-model="longitud"/>
          </div>
        </div>
        <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
          <select  name="Genero" class="form-control">
            <option ng-model="tipo">Salsa</option>
            <option ng-model="tipo">Bachata</option>
            <option ng-model="tipo">Rock</option>
            <option ng-model="tipo">Crossover</option>
            <option ng-model="tipo">Vallenato</option>
            <option ng-model="tipo">Cantina</option>
          </select>
        </div>
        <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
          <textarea class="SBform SBtextarea"  placeholder="Descripcion" ng-model="descripcion"></textarea>
        </div>
        <div class="relative fullwidth col-xs-12">
          <button type="button" class="SBform-btn semibold" ng-click="add()">Add</button>
        </div>
      </form>
    </div>
  </div>

</div>