<br>
<br>
<br>
<br>
<h2 class="lato-bold" style="padding-bottom: 15px;">Consulta los Bares que tenemos registrados</h2>
<hr class="resalt">
<br>
<h1></h1>
<p>Aquí podrás encontrar el bar perfecto para ti.</p>

<input type="text" required="required" class="SBform SBinput" placeholder="Buscar" ng-model="data" ng-change="buscar()" />

<section class="SBposts">
  <article class="SBpost" ng-repeat="todo in listado | orderBy:propertyName:reverse" ng-click="ir($index)">
    <div class="SBdescripcion">
      <figure class="SBimagen">
        <img class="img-circle" src="/bares/{{todo.id}}/logo"/>
      </figure>
      <div class="SBdetalles">
        <h2 class="lato-bold" style="padding-bottom: 15px; color=#000">
          {{todo.name}}
        </h2>
        <hr class="resalt">
        <br>
        <a class="SBa SBtag" href="#">{{todo.tipo}}</a>
        <a class="SBa SBtag" href="#">{{todo.genero}}</a>
        <p class="SBdireccion">{{todo.direccion}}</p>
        <p class="SBdes">{{todo.descripcion}}</p>
      </div>
    </div>
  </article>
</section>

